{% extends 'base.html' %}

{% block head %}
    <title>Data Owners</title>
{% endblock %}

{% block body %}
    
    <h1>Inlämningsuppgift 3</h1>
    {% if owners|length < 1 %}
        <h4>The database is empty. Add data below!</h4>
    {% else %}
        Current database content:<br>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            {% for owner in owners %}
                <tr>
                    <td>{{ owner.name }}</td>
                    <td>{{ owner.age }}</td>
                    <td>{{ owner.email }}</td>
                    <td>
                        <a href="/delete/{{owner.id}}">Delete</a>
                        <br>
                        <a href="/update/{{owner.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <p></p>

    Add new data to database:<br>
    <form action="/" method="POST">
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><input type="text" name="name"></td>
                <td><input type="number" name="age"></td>
                <td><input type="text" name="email"></td>
            </tr>
        </table>
        <input type="submit" value="Add data">
    </form>
    
   
{% endblock %}
