{% extends 'base.html' %}

{% block head %}
	<title>Data Owners</title>
{% endblock %}

{% block body %}
    <h1>Update Data Owner</h1>
    <form action="/update/{{owner.id}}" method="POST">
		<table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><input type="text" name="name" value="{{owner.name}}"></td>
                <td><input type="number" name="age" value="{{owner.age}}"></td>
                <td><input type="text" name="email" value="{{owner.email}}"></td>
            </tr>
        </table>
        <input type="submit" value="Update">
    </form>
{% endblock %}
